/* ***************** */
/* Custom properties */
/* ***************** */
:root {
    /* colors */
    --color-dark: 230 35% 7%;      /*no degrees or commas needed, no HSL so we can change alpha value for opacity*/
    --color-light: 231 77% 90%;
    --color-white: 0 0% 100%;

    /* font sizes */     /*mobile*/
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem; 
    --fs-400: 0.9375rem; 
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Font families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        /* font sizes */   /*tablet*/
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font sizes */   /*big screen*/
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;    /* divide by 16 */
    --fs-400: 1.125rem;   /*base size = body text size*/
    }
}

/* ************* */
/* General reset */
/* ************* */

/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* margin & padding */
body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

/* body set-up */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--color-white));
    background-color: hsl( var(--color-dark));
    line-height: 1.5;  
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;   /*spacing above and under, stretch all the way down*/

    overflow-x: hidden;   /*animation otherwise overflows*/
    /* overflow-y: hidden; */
}

/* image set-up */
img,
picture {
    max-width: 100%;
    display: block;
}

/* form elements set-up */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations if turned off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* *************** */
/* Utility classes */
/* *************** */

/* General */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {                 /*for SPACE to be on the line alone, never on more that one line*/
    display: block;
}

.flow > *:where(:not(:first-child)) {     /* same as *:not(:first-child) but this has same specificity as class; or *+* lobotomized owl selector */
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

.flow--space-small {
    --flow-space: 0.75rem;
}

.container {
    padding: 0 2em; /* same as padding-inline: 2em; i.e.no padding top, bottom, 2em left & right; a logical property */
    margin: auto; /* margin-inline: auto; to hold the content in the middle of the page, left, right auto */
    max-width: 80rem;
}

/* for assistive technology - screen readers only, doesn't display */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;  /*added line*/
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 1000;
    background: hsl(var(--color-white));
    color: hsl( var(--color-dark));
    padding: 0.5em 1em;
    margin-inline: auto;
    transform: translateY(-101%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

/* colors */
.background-dark { background-color: hsl( var(--color-dark));}
.background-light {background-color: hsl( var(--color-light));}
.background-white {background-color: hsl( var(--color-white));}

.text-dark { color: hsl( var(--color-dark));}
.text-light {color: hsl( var(--color-light));}
.text-white {color: hsl( var(--color-white));}

/* typography */
.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}


/* *************** */
/* Components */
/* *************** */ 
.large-button {
    position: relative;
    font-size: 2rem;        /* the only font size that doesn't change throughout the layout*/
    padding: 0 2em;
    display: inline-grid;   /* usually gives inline-block; a link is an inline element*/
    place-items: center; /* align-items + justify-self*/
    z-index: 1;
    text-decoration: none;
    aspect-ratio: 1;
    border-radius: 100%;
}

.large-button::after {
    content: '';
    position: absolute;
    background: hsl( var(--color-white) / 0.15);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.5);
    opacity: 1;
}

/* primary header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1rem, 5vw, 3.5rem);;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--color-dark) / 0.95);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    margin-right: 0.5em; 
    font-weight: 700;
}


.mobile-nav-toggle {
    display: none;
}

@supports (backdrop-filter: blur(1.5rem)) {    /*property and the value*/
    .primary-navigation {
        background: hsl( var(--color-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

.underline-indicators > * {       /*every direct child of*/
    cursor: pointer;
    padding: var(--underline-gap, .75rem) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--color-white) / 0);
    background-color: transparent;

}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl(var(--color-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {  /*tabs don't reload page, this is for assistive technologies to let them know */
    color: hsl( var(--clr-white) / 1);
    border-color: hsl(var(--color-white) / 1);  /*doesn't change on hover, .active overwrites it*/
}

.side-indicators > * {       /*every direct child of*/
    cursor: pointer;
    padding: var(--underline-gap, .1rem) 0;
    border: 0;
    border-right: 0.2rem solid hsl(var(--color-white) / 0);
    background-color: transparent;

}

.side-indicators > *:hover,
.side-indicators > *:focus {
    border-color: hsl(var(--color-white) / 0.5);
}

.side-indicators > .active,
.side-indicators > [aria-selected="true"] {  /*tabs don't reload page, this is for assistive technologies to let them know */
    color: hsl( var(--clr-white) / 1);
    border-color: hsl(var(--color-white) / 1);  /*doesn't change on hover, .active overwrites it*/
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: 0.5rem;
        list-style: none;
        inset: 0 0 0 30%;   /*shorthand for top right bottom left*/
        z-index: 1000;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        position: fixed;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;          
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
        padding-right: 0;

    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    /* .underline-indicators > * {      
        border: 0;
        border-right: 0.2rem solid hsl(var(--color-white) / 0);
    } */

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/shared/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 10vw, 7rem);
    }
}


@media (min-width: 35em) and (max-width: 44.999em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        margin-right: -2.5rem;
        height: 1px;
        width: 100%;
        background: hsl(var(--color-white) / 0.25);
        order: 1;
    }

    nav {
        order: 2;
    }
    
    .primary-navigation {
        margin-block: 2rem;
    }
}

.tab-list{
 --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0.5em;
    background-color: hsl( var(--color-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl(var(--color-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {  /*tabs don't reload page, this is for assistive technologies to let them know */
    background-color: hsl( var(--color-white) / 1);
} 

.number-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.number-indicators > * {
    cursor: pointer;
    border: 1px solid hsl(var(--color-white) / 0.25);
    border-radius: 50%;
    background-color: transparent;
    color: hsl( var(--color-white));
    width: 82px;
    height: 82px;
    padding: auto;
    position: relative;
    display: block
}

.number-indicators > *:hover,
.number-indicators > *:focus {
    border-color: hsl( var(--color-white) / 0.5);
}

.number-indicators > [aria-selected="true"] {  /*tabs don't reload page, this is for assistive technologies to let them know */
    background-color: hsl( var(--color-white) / 1);
    color: hsl( var(--color-dark));
} 

/* ************************ */
/* Page specific background */
/* ************************ */

.body {
    background-size: cover;
    background-position: bottom center;
}

/* Home */

.home {   
    background-image: url(./assets/home/background-home-mobile.jpg);
    /* background-repeat: no-repeat; */
    }

@media (min-width: 35rem) {
    .home {
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-position: center center;
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
        background-position: bottom center;
    }
}

/* Destination */

.destination {   
    background-image: url(./assets/destination/background-destination-mobile.jpg);
    /* background-repeat: no-repeat; */
    }

@media (min-width: 35rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
        background-position: center center;
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
        background-position: bottom center;
    }
}

/* Crew */

.crew {   
    background-image: url(./assets/crew/background-crew-mobile.jpg);
    /* background-repeat: no-repeat; */
    }

@media (min-width: 35rem) {
    .crew {
        background-image: url(./assets/crew/background-crew-tablet.jpg);
        background-position: center center;
    }
}

@media (min-width: 45rem) {
    .crew {
        background-image: url(./assets/crew/background-crew-desktop.jpg);
        background-position: bottom center;
    }
}


/* ****** */
/* Layout */
/* ****** */

.grid-container {   /*to hold content in the middle while responsive*/
    text-align: center;
    display: grid;
    text-align: center;
    place-items: center;   /*place-content doesn't make a splace between divs, place-items works better*/
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

.grid-container p:not([class]) {    /*paragraph that doesn't have a class*/
    max-width: 50ch;    /*zero characters*/
    /* outline: 2px solid greenyellow; */
}

.numbered-title {
    grid-area: title;
}

/* destination layout*/

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--color-white) / 0.1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.destination-meta p {
    font-size: 1.75rem;
}

/* crew layout*/

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'dots'
        'content';
}

.grid-container--crew > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--color-white) / 0.1);
}

.grid-container--crew > .dot-indicators {
    grid-area: dots;
}

.grid-container--crew > .crew-details {
    grid-area: content;
}

.crew-details h2 {
    color: hsl(var(--color-white) / 0.4);
}

@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--crew {
        padding-bottom: 0;
        --flow-space: 2rem;
        grid-template-areas:
            'title'
            'content'
            'dots'
            'image';
    }
}



@media (min-width: 45em) {
    .grid-container {   /*to hold content in the middle while responsive*/
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2rem, 1fr) minmax(0, 40rem) minmax(0, 40rem) minmax(2rem, 1fr);
    }

    .grid-container--home > *:first-child {
        grid-column: 2;
    }
    
    .grid-container--home > *:last-child {
        grid-column: 3;
    }

    .grid-container--home {
        padding-bottom: max(6rem, 20vh);    /*chooses bigger, 20vh is for really big screens - will not be glued to the bottom of the screen*/
        align-items: end;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .'
    }

    .grid-container--destination > picture {
        max-width: 80%;
    }

    .destination-meta {
        justify-content: start;
        --gap: min(6vw, 6rem); /*whatever is smaller*/
    }

    .grid-container--crew {
        --flow-space: 2rem;
        
        grid-template-areas:
            '. title image .'
            '. content image .'
            '. dots image .';
    }

    .grid-container--crew > picture {
        max-width: 60%;
        /* align-self: end; */
    }

    .grid-container--crew > .dot-indicators {
        justify-self: start;
    }

    .grid-container--crew > .crew-details {
        justify-self: start;
    }
}